@using FateExplorer.RollLogic

@page "/counter"

<h1>Test Rolls</h1>

<MudNumericField T=int Value=@Sides1 ValueChanged=@((int i) => NewDie1(i)) Min=1 Max=20 />
<p>Current Roll: @Die1?.OpenRoll</p>

<MudButton @onclick="RollDie1">Click me</MudButton>

<hr />

<MudNumericField T=int Value=@Sides2 ValueChanged=@((int i) => NewDie2(i)) Min=1 Max=20 />
<p>Current count: @Die2?.OpenRoll</p>

<MudButton @onclick="RollDie2">Click me</MudButton>


@code {
    private static int Sides1 = 6;
    private DieRollM Die1 = null;

    private static int Sides2 = 20;
    private MultiDieRoll Die2 = null;

    private void NewDie1(int NewVal)
    {
        Sides1 = NewVal;
        Die1 = new(Sides1);
    }

    private void RollDie1()
    {
        if (Die1 is null) NewDie1(Sides1);
        Die1.Roll();
    }


    private void NewDie2(int NewVal)
    {
        Sides2 = NewVal;
        Die2 = new(Sides2, 2);
    }

    private void RollDie2()
    {
        if (Die2 is null) NewDie2(Sides2);
        Die2.Roll();
    }
}
