@page "/"

<MudContainer Class="mt-16 px-8"  MaxWidth=MaxWidth.Medium>
    <MudGrid Justify=Justify.Center>
        <MudItem xs=12 xxl=12>
            <MudContainer Fixed=true>
                <div Class="pa-4" Style="height: 12rem; align-content:center">
                    <img src="img/FateExplorer_Blood_Logo.svg" style="width:100%;max-width:100%;max-height:100%;vertical-align: middle;" alt="Fate Explorer Logo" />
                </div>
            </MudContainer>
        </MudItem>
        <MudItem xs=12>
            <MudText Typo=Typo.body1 Align=Align.Center>What do you need it for?</MudText>
        </MudItem>
        <MudItem xs=4>

            <MudCard Outlined=true>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Smart character sheet</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>Focus on your character.</MudText>
                </MudCardContent>
                <MudCardContent>
                    <MudText Typo="Typo.body2">
                        Fate Explorer is your smart character sheet with the intention to
                        relieve you of many tasks. You can create characters with the tool 
                        Optolith and play with them with Fate Explorer.
                    </MudText>
                </MudCardContent>
@*                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Goto Character</MudButton>
                </MudCardActions>*@
            </MudCard>

        </MudItem>
        <MudItem xs=4>

            <MudCard Outlined=true>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Smoother game play</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>Stop searching, start finding.</MudText>
                </MudCardContent>
                <MudCardContent>
                    <MudText Typo="Typo.body2">
                        Less googling or browsing through books to find what you need.
                        Fate Explorer helps game masters and players makes information
                        easily accessible.
                    </MudText>
                </MudCardContent>
@*                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Goto Bazaar</MudButton>
                </MudCardActions>*@
            </MudCard>

        </MudItem>
        <MudItem xs=4>

            <MudCard Outlined=true>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Enrich your game play</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>What you need to know.</MudText>
                </MudCardContent>
                <MudCardContent>
                    <MudText Typo="Typo.body2">
                        Find relevant knowledge about the vast DSA world that supports your
                        game play. With in-app information and references to the Ulisses Wiki
                        you can get lots of details.
                    </MudText>
                </MudCardContent>
@*                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Goto Bazaar</MudButton>
                </MudCardActions>*@
            </MudCard>

        </MudItem>
        <MudItem xs=1></MudItem>
        <MudItem xs=@(12-2*1)>
            <MudPaper Class="pa-4" Outlined=true Elevation=0>
                <MudText Typo="Typo.body1">
                    Please note that Fate Explorer uses cookies to store the state of app and character's.
                </MudText>
                <MudText Typo="Typo.body2" Class="mt-1">
                    That includes: the current date you set and the app settings. Also, when you re-load a character
                    Fate Explorer may recognize it and load the last know health points and other values
                    you may have changed.
                </MudText>
                <MudText Typo="Typo.body2" Class="mt-1">
                    Fate Explorer does no tracking or other stuff with these cookies. Their only purpose is your convenience.
                </MudText>
                <MudText Typo="Typo.body2" Class="mt-1">
                    It the moment it is not possible to use Fate Explorer without this feature. By continuing you 
                    accept the fact that data is stored on your computer.
                </MudText>
                <MudText Typo="Typo.body2" Class="mt-1">
                    Please apologize that I talk to you like that but I am obliged to do so.
                </MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs=1></MudItem>
    </MudGrid>
</MudContainer>

