@font-face {
  font-family: 'fateexplorer';
  src:
    url('fonts/fateexplorer.ttf?dayyfw') format('truetype'),
    url('fonts/fateexplorer.woff?dayyfw') format('woff'),
    url('fonts/fateexplorer.svg?dayyfw#fateexplorer') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i, .fe { /* changed 'icomoon-liga' to 'fe' */
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fateexplorer' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fe-MoonPhase1:before {
  content: "\e974";
}
.fe-MoonPhase2:before {
  content: "\e975";
}
.fe-MoonPhase3:before {
  content: "\e976";
}
.fe-MoonPhase4:before {
  content: "\e977";
}
.fe-MoonPhase5:before {
  content: "\e978";
}
.fe-MoonPhase6:before {
  content: "\e979";
}
.fe-MoonPhase7:before {
  content: "\e97a";
}
.fe-MoonPhase8:before {
  content: "\e97b";
}
.fe-MoonPhase9:before {
  content: "\e97c";
}
.fe-MoonPhase10:before {
  content: "\e97d";
}
.fe-MoonPhase11:before {
  content: "\e97e";
}
.fe-MoonPhase12:before {
  content: "\e97f";
}
.fe-Ammunition:before {
  content: "\e93f";
}
.fe-ArmourLamellar:before {
  content: "\e940";
}
.fe-WeaponAccessoires:before {
  content: "\e941";
}
.fe-Shirt:before {
  content: "\e942";
}
.fe-TreasureMap:before {
  content: "\e943";
}
.fe-Torch:before {
  content: "\e944";
}
.fe-Bandages:before {
  content: "\e95b";
}
.fe-Chest:before {
  content: "\e95c";
}
.fe-Chain:before {
  content: "\e95d";
}
.fe-BurglarTools:before {
  content: "\e95e";
}
.fe-Tools:before {
  content: "\e95f";
}
.fe-Telescope:before {
  content: "\e960";
}
.fe-Jewellery:before {
  content: "\e961";
}
.fe-Gem:before {
  content: "\e962";
}
.fe-Stationary:before {
  content: "\e963";
}
.fe-Book:before {
  content: "\e964";
}
.fe-MagicArtefact:before {
  content: "\e912";
}
.fe-PestleMortar:before {
  content: "\e96b";
}
.fe-PotionMadness:before {
  content: "\e96c";
}
.fe-HerbsReed:before {
  content: "\e96d";
}
.fe-Instruments:before {
  content: "\e96e";
}
.fe-Shisha:before {
  content: "\e96f";
}
.fe-HorseShoe:before {
  content: "\e970";
}
.fe-Transport:before {
  content: "\e971";
}
.fe-SnakeSkin:before {
  content: "\e972";
}
.fe-SunSceptre:before {
  content: "\e973";
}
.fe-D6_1:before {
  content: "\2680";
}
.fe-D6_2:before {
  content: "\2681";
}
.fe-D6_3:before {
  content: "\2682";
}
.fe-D6_4:before {
  content: "\2683";
}
.fe-D6_5:before {
  content: "\2684";
}
.fe-D6_6:before {
  content: "\2685";
}
.fe-UnarmedBotch:before {
  content: "\e934";
}
.fe-UnarmedFail:before {
  content: "\e945";
}
.fe-UnarmedSuccess:before {
  content: "\e946";
}
.fe-UnarmedCritical:before {
  content: "\e947";
}
.fe-RangedBotch:before {
  content: "\e948";
}
.fe-RangedFail:before {
  content: "\e949";
}
.fe-RangedSuccess:before {
  content: "\e94a";
}
.fe-RangedCritical:before {
  content: "\e94b";
}
.fe-ParryBotch:before {
  content: "\e94c";
}
.fe-ParryFail:before {
  content: "\e94d";
}
.fe-ParrySuccess:before {
  content: "\e94e";
}
.fe-ParryCritical:before {
  content: "\e94f";
}
.fe-MeleeBotch:before {
  content: "\e950";
}
.fe-MeleeFail:before {
  content: "\e951";
}
.fe-MeleeCritical:before {
  content: "\e952";
}
.fe-MeleeSuccess:before {
  content: "\e953";
}
.fe-DodgeBotch:before {
  content: "\e902";
}
.fe-DodgeFail:before {
  content: "\e954";
}
.fe-DodgeSuccess:before {
  content: "\e955";
}
.fe-DodgeCritical:before {
  content: "\e956";
}
.fe-Vision0_Clear:before {
  content: "\e906";
}
.fe-Vision1_Impaired:before {
  content: "\e907";
}
.fe-Vision2_ShapesOnly:before {
  content: "\e936";
}
.fe-Vision3_Barely:before {
  content: "\e937";
}
.fe-Vision4_None:before {
  content: "\e93e";
}
.fe-Purse:before {
  content: "\e905";
}
.fe-Swordfighter:before {
  content: "\e933";
}
.fe-Mounted0_Stand:before {
  content: "\e92b";
}
.fe-Mounted1_Walk:before {
  content: "\e92c";
}
.fe-Mounted2_Trot:before {
  content: "\e92d";
}
.fe-Mounted3_Gallop:before {
  content: "\e92e";
}
.fe-Onfoot0_Stand:before {
  content: "\e92f";
}
.fe-Onfoot1_Walk:before {
  content: "\e930";
}
.fe-Cramped:before {
  content: "\e931";
}
.fe-Water0_Dry:before {
  content: "\e938";
}
.fe-Water1_Knee:before {
  content: "\e939";
}
.fe-Water2_Waist:before {
  content: "\e93a";
}
.fe-Water3_Chest:before {
  content: "\e93b";
}
.fe-Water4_Neck:before {
  content: "\e93c";
}
.fe-Water5_Submerged:before {
  content: "\e93d";
}
.fe-Skull:before {
  content: "\e908";
}
.fe-Praios:before {
  content: "\e91b";
}
.fe-Rondra:before {
  content: "\e928";
}
.fe-Efferd:before {
  content: "\e900";
}
.fe-Travia:before {
  content: "\e91e";
}
.fe-Boron:before {
  content: "\e90f";
}
.fe-Hesinde:before {
  content: "\e914";
}
.fe-Firun:before {
  content: "\e913";
}
.fe-Tsa:before {
  content: "\e91f";
}
.fe-Phex:before {
  content: "\e910";
}
.fe-Peraine:before {
  content: "\e916";
}
.fe-Ingerimm:before {
  content: "\e915";
}
.fe-Rahja:before {
  content: "\e91c";
}
.fe-NamelessOne:before {
  content: "\e927";
}
.fe-DemonCrown:before {
  content: "\e957";
}
.fe-Success:before {
  content: "\e901";
}
.fe-Falldown:before {
  content: "\e958";
}
.fe-PotionArcane:before {
  content: "\e903";
}
.fe-PotionLife:before {
  content: "\e904";
}
.fe-LocalMallClear:before {
  content: "\e90b";
}
.fe-Ulisses:before {
  content: "\e90c";
}
.fe-BackHandLeft:before {
  content: "\e90d";
}
.fe-Blindfold:before {
  content: "\e929";
}
.fe-BrassKnuckles:before {
  content: "\e91d";
}
.fe-Sword:before {
  content: "\e911";
}
.fe-Flail:before {
  content: "\e92a";
}
.fe-Spear:before {
  content: "\e932";
}
.fe-AnimalToad:before {
  content: "\e909";
}
.fe-AnimalGoat:before {
  content: "\e959";
}
.fe-AnimalSheep:before {
  content: "\e90a";
}
.fe-AnimalCow:before {
  content: "\e90e";
}
.fe-AnimalElefant:before {
  content: "\e934";
}
.fe-AnimalDragon:before {
  content: "\e935";
}
