@font-face {
  font-family: 'fateexplorer';
  src:
    url('fonts/fateexplorer.ttf?epmwhr') format('truetype'),
    url('fonts/fateexplorer.woff?epmwhr') format('woff'),
    url('fonts/fateexplorer.svg?epmwhr#fateexplorer') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i, .fe { /* changed 'icomoon-liga' to 'fe' */
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fateexplorer' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fe-MoonPhase1:before {
  content: "\e912";
}
.fe-MoonPhase2:before {
  content: "\e917";
}
.fe-MoonPhase3:before {
  content: "\e918";
}
.fe-MoonPhase4:before {
  content: "\e919";
}
.fe-MoonPhase5:before {
  content: "\e91a";
}
.fe-MoonPhase6:before {
  content: "\e920";
}
.fe-MoonPhase7:before {
  content: "\e921";
}
.fe-MoonPhase8:before {
  content: "\e922";
}
.fe-MoonPhase9:before {
  content: "\e923";
}
.fe-MoonPhase10:before {
  content: "\e924";
}
.fe-MoonPhase11:before {
  content: "\e925";
}
.fe-MoonPhase12:before {
  content: "\e926";
}
.fe-Skull:before {
  content: "\e90e";
}
.fe-Boron:before {
  content: "\e90f";
}
.fe-Efferd:before {
  content: "\e911";
}
.fe-Firun:before {
  content: "\e913";
}
.fe-Hesinde:before {
  content: "\e914";
}
.fe-Ingerimm:before {
  content: "\e915";
}
.fe-Peraine:before {
  content: "\e916";
}
.fe-Phex:before {
  content: "\e910";
}
.fe-Praios:before {
  content: "\e91b";
}
.fe-Rahja:before {
  content: "\e91c";
}
.fe-Rondra:before {
  content: "\e91d";
}
.fe-Travia:before {
  content: "\e91e";
}
.fe-Tsa:before {
  content: "\e91f";
}
.fe-NamelessOne:before {
  content: "\e927";
}
.fe-Success:before {
  content: "\e900";
}
.fe-Botch:before {
  content: "\e901";
}
.fe-PotionArcane:before {
  content: "\e902";
}
.fe-PotionLife:before {
  content: "\e903";
}
.fe-D6_1:before {
  content: "\e904";
}
.fe-D6_2:before {
  content: "\e905";
}
.fe-D6_3:before {
  content: "\e906";
}
.fe-D6_4:before {
  content: "\e907";
}
.fe-D6_5:before {
  content: "\e908";
}
.fe-D6_6:before {
  content: "\e909";
}
.fe-LocalMallClear:before {
  content: "\e90a";
}
.fe-Ulisses:before {
  content: "\e90b";
}
.fe-BackHandLeft:before {
  content: "\e90c";
}
.fe-Sword:before {
  content: "\e90d";
}
