<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<# #>
<# string[] Icons = new[] {
    "Success", "Falldown",
    "PotionArcane", "PotionLife",
    "LocalMallClear", "Ulisses", "BackHandLeft", "Blindfold",
    "BrassKnuckles", "Sword", "Flail", "Spear", "Cramped", 
    "Mounted0_Stand", "Mounted1_Walk", "Mounted2_Trot", "Mounted3_Gallop", 
    "Onfoot0_Stand", "Onfoot1_Walk", 
    "Water0_Dry", "Water1_Knee", "Water2_Waist", "Water3_Chest", "Water4_Neck", "Water5_Submerged",
    "Vision0_Clear", "Vision1_Impaired", "Vision2_ShapesOnly", "Vision3_Barely", "Vision4_None",
    "DemonCrown"
    };
string[] DeityIcons = new[] {
    "Boron", "Efferd", "Firun", "Hesinde", "Ingerimm", "Peraine", "Phex",
    "Praios", "Rahja", "Rondra", "Travia", "Tsa", "NamelessOne"
    };
string[] ObjectGroup = new[] {
    "Ammunition", "ArmourLamellar", "WeaponAccessoires", "Shirt", "TreasureMap", "Torch", "Bandages",
    "Chest", "Chain", "BurglarTools", "Tools", "Telescope", "Jewellery", "Gem", "Stationary", "Book", "MagicArtefact",
    "PestleMortar", "PotionMadness", "HerbsReed", "Flute", "Shisha", "HorseShoe", "Transport", "SnakeSkin",
    "SunSceptre"
    };
string[] AnimalIcons = new[] {
    "AnimalToad", "AnimalGoat", "AnimalSheep", "AnimalCow", "AnimalElefant", "AnimalDragon"
    };
string[] ActionSuccess = new[] {
    "Botch", "Fail", "Success", "Critical"
    };
string[] ActionTypes = new[] {
    "Unarmed", "Melee", "Ranged", "Parry", "Dodge"
    };
#>
<# #>
// IMPORTANT: DO NOT EDIT THIS FILE. IT IS GENERATED BY THE TEMPLATE "IconsFE.tt".
namespace MudBlazor;

using FateExplorer.Shared;

public static class IconsFE {
    const string Ligaturisation = "fe "; // CSS selector for ligaturisation
    const string ClassPrefix = "fe-";    // Prefix to access the CSS class that returns the icon
    const string Prefix = Ligaturisation + ClassPrefix;

    public static string Concat(string IconName) => Prefix + IconName;

    <# foreach (var i in Icons) { 
    #>
public static string <#= i#> => Prefix + nameof(<#= i#>);
    <#
    } #>

    // DEITIES
    <# foreach (var i in DeityIcons) { 
    #>
public static string <#= i#> => Prefix + nameof(<#= i#>);
    <#
    } #>
    // OBJECT GROUPS
    <# foreach (var i in ObjectGroup) { 
    #>
public static string <#= i#> => Prefix + nameof(<#= i#>);
    <#
    } #>
    // ANIMAL
    <# foreach (var i in AnimalIcons) { 
    #>
public static string <#= i#> => Prefix + nameof(<#= i#>);
    <#
    } #>
    // DICE d6
    public static string D6(int d) => Concat($"{nameof(D6)}_{d}");
    <# for (int d = 1; d <= 6; d++) { 
    #>
public static string D6_<#= d#> => Prefix + nameof(D6_<#= d#>);
    <#
    } #>


    // ACTIONS/COMBAT SUCCESS/FAIL/...
    <# foreach (var i in ActionTypes) { 
        foreach (var j in ActionSuccess) {
#>
public static string <#= i+j#> => Prefix + nameof(<#= i+j#>);
    <#
        }
    } #>



    // MADAS MARK - MOON PHASES
    
    /// <summary>
    /// Get icons by moon phase
    /// </summary>
    /// <param name="phase">Current moon phase</param>
    /// <returns></returns>
    /// <remarks>1-12, 1 is new moon (dead mada), 4 is half, 7 is full moon (wheel),
    /// 10 is half, 12 the phase before new moon. Adapt MoonPhase accordingly.</remarks>
    public static string Moon(MoonPhase phase) => Concat($"{nameof(Moon)}Phase{(int)phase + 1}");
}